html {
    background-color: #17b978;
    
}


.nav {
    /* background-color: #086972; */
    background-image: url(../../imgs/navPic.jpg);
    background-size: cover;
    
    border-bottom: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navTitle {
    color: #a7ff83;
    font-family: 'Architects Daughter', cursive;
    padding: 10px;
}